/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #2b2b2b;
    /* Fondo oscuro */
    color: #f0e6d2;
    /* Color de texto claro */
    line-height: 1.6;
    padding: 0 10%;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #3a2f54;
    /* Tono púrpura oscuro */
    color: #f8d460;
    border-radius: 10px;

}

header img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    justify-content: center;
    background-color: #44475a;
    padding: 10px;
    border-radius: 10px;

}

nav a {
    color: #f8d460;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffcd3c;
}

.barra {
    list-style: none;
    display: flex;
    justify-content: right;
    padding: 0;
    margin: 0;
}

.barra-items {
    display: none;
    list-style: none;
    padding: 0;
}

.barra>li {
    position: relative;
}

.barra>li>a {
    display: block;
    padding: 0px 15px;
    color: #f8d460;
    text-decoration: none;
}

.barra li:hover {
    background-color: #282a36;
    border-radius: 10px;
}


.character-content h3 {
    text-align: center;
}

.character-content p {
    text-align: left;
}

.barra-vertical {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    background-color: #44475a;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.barra-vertical li a {
    display: block;
    color: #f8d460;
    padding: 10px 20px;
    text-decoration: none;
}

.barra-vertical li a:hover {
    background-color: #282a36;
}

.barra>li:hover .barra-vertical {
    display: block;
}

/* Estilos para la sección principal */
section#inicio {
    margin: 20px 0;
    padding: 20px;
    background-color: #3a2f54;
    /* Fondo de sección */
    border-radius: 10px;
}

section#inicio .content {
    text-align: left;
}

section#inicio h2 {
    font-size: 2em;
    color: #f8d460;
    margin-bottom: 15px;
    text-align: center;
}

section#inicio p {
    font-size: 1em;
    margin-bottom: 15px;
}

/* Estilos para las imágenes */
section#inicio img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #44475a;
    color: #f0e6d2;
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
}

.character {
    display: flex;
    align-items: flex-start;
    /* Alinea la imagen y el texto en la parte superior */
    gap: 30px;
    /* Espacio entre la imagen y el texto */
    margin-bottom: 30px;
}

.character img {
    width: 250px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    margin: 15px;

}

.character-content {
    max-width: 600px;
    margin: 20px;
    text-align: left;
}

.character h3 {
    text-align: left;
    margin: 10px;
}

.character-content p {
    text-align: left;
    margin: 10px;

}

.icon {
    display: none;
}


/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 768px) {
    body {
        padding: 0 5%;
    }

    header img {
        max-width: 150px;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        margin: 5px 0;
    }

    section#inicio h2 {
        font-size: 1.5em;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .menu {
        opacity: 0;
        visibility: hidden;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        background-color: #282a36;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .menu.visible {
        opacity: 1;
        visibility: visible;
    }

    .barra-vertical {
        flex-direction: column;
        align-items: end;
    }

    .icon {
        display: block;
        padding-right: 0.6rem;
        text-align: right;
    }
}


.primera-temporada h2 {
    text-align: center;
    color: #f8d460;
    margin: 15px;
}

.segunda-temporada h2 {
    text-align: center;
    color: #f8d460;
    margin: 15px;

}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin: 5px;

}

.creador h2 {
    text-align: center;
    color: #f8d460;
    margin: 10px;
}

.creador img {
    width: 500px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto;
}

.produccion h2 {
    text-align: center;
    color: #f8d460;
}

.libros h2 {
    text-align: center;
    color: #f8d460;
    margin: 10px auto;

}

.juguetes h2 {
    text-align: center;
    color: #f8d460;
    margin: 10px auto;

}

.juguetes img {
    width: 400px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 10px auto;
}

.juguetes h3 {
    text-align: center;
    margin: 5px auto;

}

.videojuegos h2 {
    text-align: center;
    color: #f8d460;
    margin: 5px auto;
}

.videojuegos img {
    width: 400px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 10px auto;
}

.ropa h2 {
    text-align: center;
    color: #f8d460;
    margin: 10px auto;
}

.ropa img {
    width: 200px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 10px auto;
}

.creador h2 {
    text-align: center;
    color: #f8d460;
}

.teorias p {
    margin: 5px;
}

.teorias img {
    width: 400px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 10px auto;
}

.libros img {
    width: 300px;
    /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 10px;
    display: block;
    /* Asegura que la imagen se comporte como un bloque */
    margin: 10px auto;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.gallery img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin: 5px;
}

/*Personajes*/
#Dipper {
    scroll-margin-top: 100px;
}

#Mabel {
    scroll-margin-top: 100px;
}

#Stan {
    scroll-margin-top: 100px;
}

#Soos {
    scroll-margin-top: 100px;
}

#Wendy {
    scroll-margin-top: 100px;
}

/*Proceso creativo*/
#creador {
    scroll-margin-top: 100px;
}

#produccion {
    scroll-margin-top: 100px;
}

#directores {
    scroll-margin-top: 100px;
}

#musica {
    scroll-margin-top: 100px;
}

/*Merchandising*/
#libros {
    scroll-margin-top: 100px;
}

#juguetes {
    scroll-margin-top: 100px;
}

#videojuegos {
    scroll-margin-top: 100px;
}

#ropa {
    scroll-margin-top: 100px;
}